#wrapper {
    font-family: 'Hind';
    background-color: #F9F9FB;
    box-sizing: border-box;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 1576px;
}


* {
    margin: 0;
    padding: 0;
    
}

/*НИЖНЕЕ НАВОДЯЩЕЕСЯ ПОДЧЕРКИВАНИЕ ПОД МЕНЮ верх*/
.hover {
    letter-spacing: 0;
    text-decoration: none;
    transition: 0.1s;
    color: $white;
    position: relative;
}


.hover:hover {
    color:  #ffcccc;
}

.hover:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 5px; 
	background-color: #ffcccc;
	content: "";
	transition: width 0.1s;
}

.hover:hover:after,
.hover:focus:after {
	width: 100%; 
}

//*******************//

